<div class="container" *ngIf="!currentUserName" id="search">
    <input [(ngModel)]="userName" type="text" placeholder="username">
    <button class="btn" (click)="startGame()">Start</button>
</div>
<div id="main" *ngIf="currentUserName" class="container">
    <p>User: {{ currentUserName }}</p>
    <p>Game Status: {{ gameInProgress?.state }}</p>
    <p>Time: 0</p>
    <p *ngIf="!this.gameInProgress">Start creating a new game or picking one from your list</p>
    <div id="field">
        <table *ngIf="gameInProgress != null">
            <tr *ngFor="let row of gameInProgress.board.rows; index as x">
                <td
                        *ngFor="let cell of row.cells; index as y"
                        class="cell"
                        (click)="open(cell, x, y)"
                        (contextmenu)="$event.preventDefault();
            rightClick(cell, x, y)"
                >
                    <div class="cell" *ngIf="cell.state === 'OPENED' && !cell.mined">{{ cell.surroundingMines }}</div>
                    <div class="cell" *ngIf="cell.state === 'FLAGGED'"><img src="../assets/flag.png" alt="F"></div>
                    <div class="cell" *ngIf="cell.state === 'QUESTION_MARK'"><img src="../assets/question_mark2.png"
                                                                                  alt="Q"></div>
                    <div class="cell" *ngIf="cell.mined && cell.state === 'OPENED'"><img src="../assets/mine.png"
                                                                                         alt="M"></div>
                </td>
            </tr>
        </table>
    </div>

    <ul>
        <li class="link" *ngFor="let game of games" (click)="loadGame(game)">Game:{{ game.id }} - {{ game.state }}</li>
    </ul>

    <div class="create-form">
        <label class="label">Rows
        <input [(ngModel)]="startGameDTO.rowSize" type="number">
        </label>

        <label class="label">Columns
        <input [(ngModel)]="startGameDTO.columnSize" type="number">
        </label>

        <label class="label">% Mines
        <input [(ngModel)]="startGameDTO.minePercentage" type="number">
        </label>

        <button class="btn" (click)="createGame()">New game</button>
    </div>


    <div class="buttons">
        <button class="btn" (click)="pauseGame()">Pause</button>
        <button class="btn" (click)="resumeGame()">Resume</button>
    </div>
    <div class="buttons">
        <button class="btn" (click)="reset()">Change user</button>
    </div>
</div>
