<div class="container">
    <p>Game Status: {{ gameInProgress?.state }}</p>
    <p> Time: 0</p>
    <div id="field">
        <table *ngIf="gameInProgress != null">
            <tr *ngFor="let row of gameInProgress.board.rows; index as x">
                <td
                        *ngFor="let cell of row.cells; index as y"
                        class="cell"
                        (click)="open(cell, x, y)"
                        (contextmenu)="$event.preventDefault();
            rightClick(cell, x, y)"
                >
                    <div *ngIf="cell.state === 'OPENED' && !cell.mined">{{ cell.surroundingMines }}</div>
                    <div *ngIf="cell.state === 'FLAGGED'"><img src="../assets/flag2.png" alt="F"></div>
                    <div *ngIf="cell.state === 'QUESTION_MARK'"><img src="../assets/question_mark.png" alt="Q"></div>
                    <div *ngIf="cell.mined && cell.state === 'OPENED'"><img src="../assets/mine.png" alt="M"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="username">
        <input [(ngModel)]="userName" type="text" placeholder="username">
        <button class="btn" (click)="searchGames()">Search</button>

    </div>

    <div id="games">
        <ul>
            <li *ngFor="let game of games" (click)="loadGame(game)">{{ game.id }} {{ game.state }}</li>
        </ul>
    </div>

    <div class="create-form">
        <label class="label" >Name:</label>
         <input [(ngModel)]="startGameDTO.name" type="text">

        <label class="label" >Rows:</label>
        <input [(ngModel)]="startGameDTO.rowSize" type="number">

        <label class="label" >Columns:</label>
        <input [(ngModel)]="startGameDTO.columnSize" type="number">

        <label class="label" >Mines Percentage:</label>
        <input [(ngModel)]="startGameDTO.minePercentage" type="number">

        <button class="btn" (click)="createGame()">Create game</button>
    </div>


    <div class="buttons">
        <button class="btn" (click)="reset()">Reset</button>
    </div>
    <div class="buttons">
        <button class="btn" (click)="pauseGame()">Pause</button>
        <button class="btn" (click)="resumeGame()">Resume</button>
    </div>
</div>
