/* You can add global styles to this file, and also import other style files */
body {
    background-color: RGB(1,130,129);
}

table,
td {
    border: 1px solid grey;
    border-collapse: collapse;
}

td {
    width: 32px;
    height: 32px;
}
